<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Snakes</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<table>
	    <thead>
	        <tr>
				<th> # </th>	        
				<th> #img </th>				
	            <th> Tsn </th>
	            <th> Unit </th>
	            <th> Common </th>
	            <th> Rank </th>	            
	        </tr>
	    </thead>
	    <tbody>
	        <tr th:each="snake,iterator : ${listSnake}">
				<td align="right"><span th:text="${iterator.index}"></span></td>
				<td align="right"><span th:text="${snake.images}"></span></td>					        
	            <td><span th:text="${snake.tsn}"></span></td>
 	            <td><a th:href="${snake.link}" target="_blank"><span th:text="${snake.unit_name}"></span></a></td>
	            <td><span th:text="${snake.common_name}"></span></td>
	            <td><span th:text="${snake.rank_name}"></span></td>
	        </tr>
	    </tbody>
	</table>

</body>
</html>